<?xml version="1.0"?>
<config>
    <modules>
        <Arena_Connector>
            <version>0.1.9</version>
        </Arena_Connector>
    </modules>
    <global>
        <helpers>
            <arena_connector>
                <class>Arena_Connector_Helper</class>
            </arena_connector>
        </helpers>
        <blocks>
            <arena_connector>
                <class>Arena_Connector_Block</class>
            </arena_connector>
        </blocks>
        <models>
            <arena_connector>
                <class>Arena_Connector_Model</class>
                <resourceModel>arena_connector_mysql4</resourceModel>
            </arena_connector>
            <arena_connector_mysql4>
                <class>Arena_Connector_Model_Mysql4</class>
                <entities>
                    <shipping>
                        <table>arena_shippings_mapping</table>
                    </shipping>
                    <queue>
                        <table>arena_queue</table>
                    </queue>
                </entities>
            </arena_connector_mysql4>
            <shipping>
                <rewrite>
                    <config>Arena_Connector_Model_Shipping_Config</config>
                </rewrite>
            </shipping>
            <sales>
                <rewrite>
                    <quote_address>Arena_Connector_Model_Sales_Quote_Address</quote_address>
                </rewrite>
            </sales>
        </models>
        <resources>
            <arena_connector_setup>
                <setup>
                    <module>Arena_Connector</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </arena_connector_setup>
            <arena_connector_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </arena_connector_write>
            <arena_connector_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </arena_connector_read>
        </resources>
        <events>
            <model_config_data_save_before>
                <observers>
                    <arena_api_key_validator>
                        <type>singleton</type>
                        <class>arena_connector/apiConfig_saveBeforeEvent</class>
                        <method>validateApiKey</method>
                    </arena_api_key_validator>
                </observers>
            </model_config_data_save_before>
            <catalog_product_save_after>
                <observers>
                    <arena_deletect_product_change>
                        <type>singleton</type>
                        <class>arena_connector/observer_product</class>
                        <method>handle</method>
                    </arena_deletect_product_change>
                </observers>
            </catalog_product_save_after>
            <cataloginventory_stock_item_save_commit_after>
                <observers>
                    <arena_detect_stock_change>
                        <type>singleton</type>
                        <class>arena_connector/observer_product</class>
                        <method>handleStock</method>
                    </arena_detect_stock_change>
                </observers>
            </cataloginventory_stock_item_save_commit_after>
        </events>
    </global>
    <default>
        <payment>
            <arena_pl>
                <model>arena_connector/payment</model>// very important thing, here you select the model for your payment method
                <active>1</active>
                <order_status>pending</order_status>
                <title>Arena.pl Payment Method</title>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </arena_pl>
        </payment>
        <carriers>
            <arenapl>
                <model>arena_connector/carrier</model>
                <title>Arena.pl Default Shipping</title>
                <active>1</active>
                <sort_order>10</sort_order>
            </arenapl>
        </carriers>
    </default>
    <admin>
        <routers>
            <arena_connector>
                <use>admin</use>
                <args>
                    <module>Arena_Connector</module>
                    <frontName>admin_arena_connector</frontName>
                </args>
            </arena_connector>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <arena_connector module="arena_connector">
                <title>Arena.pl</title>
                <sort_order>100</sort_order>
                <children>
                    <shipping module="arena_connector">
                        <title>Map Shippings</title>
                        <sort_order>0</sort_order>
                        <action>admin_arena_connector/adminhtml_shipping</action>
                    </shipping>
                </children>
            </arena_connector>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <arena_connector translate="title" module="arena_connector">
                            <title>Arena.pl</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <shipping translate="title">
                                    <title>Manage Shipping</title>
                                    <sort_order>0</sort_order>
                                </shipping>
                            </children>
                        </arena_connector>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <arena_connector>
                    <file>arena_connector.xml</file>
                </arena_connector>
            </updates>
        </layout>
        <translate>
            <modules>
                <syncreports>
                    <files>
                        <default>Arena_Connector.csv</default>
                    </files>
                </syncreports>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <fetch_new_orders>
                <schedule><cron_expr>*/10 * * * *</cron_expr></schedule>
                <run><model>arena_connector/cron::fetchNewOrders</model></run>
            </fetch_new_orders>
            <clean_queue>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>arena_connector/cron::cleanFallbackQueue</model></run>
            </clean_queue>
            <keep_data_in_arena_fresh>
                <schedule><cron_expr>10 4 * * *</cron_expr></schedule>
                <run><model>arena_connector/cron::dailyExport</model></run>
            </keep_data_in_arena_fresh>
        </jobs>
    </crontab>
</config> 